# Python
__pycache__
*.pyc
.env
venv

# Docker (no subir a Git)
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.DS_Store
.vscode
.idea
.claude

# Deploy
passenger_wsgi.py
htaccess
.ftp-deploy-sync-state.json